.subject-button {
	width: 100%;
	text-align: left;
}

.menu-dropdown {
	list-style: none;
}

ul.scrollable {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 250px;
}

#loadingDiv {
	position: fixed;
	top: 0px;
	left: 0px;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	background-color: black;

	width: 100%;
	height: 100%;
	text-align: center;
	display: none;
}

#loadingDiv:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

#loadingDiv img {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
}

#confirmBoxDiv {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color:rgba(0,0,0,0.75);
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;
}

#confirmBoxDiv:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.confirmBoxButtonLeft {
	float: left;
	text-align: right;
	width: 50%;
	padding-right: 5px;
}

.confirmBoxButtonRight {
	float: left;
	text-align: left;
	padding-left: 10px;
	width: 50%;
}

#confirmBoxDiv .confirmBoxContent {
	border-color: #222;
	border-radius: 8px;
	width: 50%;
	min-width: 300px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

#errorDiv, #infoDiv {
	text-align: left;
	width: 97%;
	margin-left: 17px;
	margin-right: 17px;
	display: none;
}

.errorDivClose {
	text-align: right;
	top: -10px;
	right: -5px;
	margin: 0px;
	padding: 0px;
	float: right;
}

.errorDivClose a {
	color: #A94444;
}

.errorDivClose a:hover {
	color: #702020;
}

#errorDivMsg {
	width: 95%;
	float: left;
}

.userPanel {
	width: 300px;
	height: 270px;
}

.registerDiv {
	display: none;
}

.attribDesc {
	margin-top: 4px;
	float:left;
}
.usernameDiv, .passwordDiv, .nameDiv {
	text-align: right;
	float: right;
}

.loginInput[type="text"], .loginInput[type="password"] {
	border: 2px solid #3b84c3;
	border-radius: 8px;
	width: 200px;
	padding-left: 7px;
	padding-right: 7px;
}

button.loginInput {
	width: 130px;
}

.hellouser {
	float: left;
	padding: 15px;
	font-size: 18px;
	line-height: 20px;
	height: 50px;
	color: white;
	font-size: 12pt;
}

.hellouser:hover {
	color: white;
	text-decoration: none;
}

.marcarCursar, .marcarCursar:hover {
	color: white;
	text-decoration: none;
}
