@()

@main("Plano de curso") {
	@navbar()
	@dialogs()

	<div class="container theme-showcase" role="main">
		<div align="center">
			<div class="panel panel-primary userPanel">
				<div class="panel-heading"><h3 class="panel-title">Painel de usuário</h3></div>
				<div class="panel-body">
					<div class="attribDesc">Usuário:</div>
					<div class="usernameDiv"><input type="text" name="username" maxlength="20" id="username" class="loginInput" /></div><br /><br />
						
					<div class="attribDesc">Senha:</div>
					<div class="passwordDiv"><input type="password" name="password" maxlength="64" id="password" class="loginInput" /></div><br /><br />

					<div style="clear:both"></div>

					<div class="registerDiv">
						<div class="attribDesc">Nome:</div>
						<div class="nameDiv"><input type="text" name="name" maxlength="64" id="name" class="loginInput" /></div><br />
						<br /><div style="text-align:left"><a href="#!" onclick="$('.registerDiv').hide(); $('.loginDiv').show()">Já tenho uma conta.</a></div><br />
						<button onclick="registrar()" id="register-button" class="loginInput btn btn-info" />Registrar</button>
					</div>

					<div class="loginDiv">
						<div style="text-align:left"><a href="#!" onclick="$('.loginDiv').hide(); $('.registerDiv').show()">Ainda não tenho uma conta.</a></div><br />
						<button onclick="logar()" id="login-button" class="loginInput btn btn-info" />Logar</button>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /container -->

	<script type="text/javascript">
		function logar() {
			Controlador.logar($("#username").val(), $("#password").val());
		}

		function registrar() {
			Controlador.registrar($("#name").val(), $("#username").val(), $("#password").val());
		}
	</script>
}
