@(usuario: Usuario = null)

	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="z-index: 2147483647">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Plano de curso</a>
				@if(usuario != null) {
				<a class="hellouser">Olá, <i>@usuario.getNome()</i>!</a>
				}
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Principal</a></li>
					<li><a href="/listarUsuarios">Usuários</a></li>
					@if(usuario != null) {
					<li id="resetButton" class="dropdown" style="display:none">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resetar <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#" onclick="Controlador.resetarGrade(0)">Fluxograma oficial</a></li>
							<li><a href="#" onclick="Controlador.resetarGrade(1)">Fluxograma mais comumente pago</a></li>
							<li><a href="#" onclick="Controlador.resetarGrade(2)">Fluxograma vigente após reforma</a></li>
						</ul>
					</li>
					<li><a href="/deslogar">Deslogar</a></li>
					}
					<li>
						
						<input type="text" id="querySearch" />
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<script type="text/javascript">
		var defaultSearchQuery = "Digite um nome para buscar...";

		function searchQuery() {
			query = $("#querySearch").val().trim();
			if (query.length == 0)
				location.href = "/listarUsuarios";
			else
				location.href = "/pesquisar/" + escape(query);
		}

		$("#querySearch").keydown(function(event) {
			if (event.which == 13 && !$("#querySearch").hasClass("emptySearch")) {
				searchQuery();
			}
		});

		$("#querySearch").focus(function() {
			var queryObj = $("#querySearch");
			if (queryObj.hasClass("emptySearch")) {
				queryObj.removeClass("emptySearch");
				queryObj.val("");
			}
		});

		$("#querySearch").focusout(function() {
			var queryObj = $("#querySearch");
			if (queryObj.val() == "") {
				queryObj.addClass("emptySearch");
				queryObj.val(defaultSearchQuery);
			}
		});

		$("#querySearch").focusout();
	</script>